.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #000000;
    color: #ffffff;
}
.header1 {
    color: #ffe135;
}
